.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    background-color:rgb(215 229 242);
    z-index: 9002;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .slds-scrollable_y{
    width:99.5% !important;
    table-layout:fixed !important;

  }

  .customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  .textInput{
    -webkit-text-fill-color: red;
  }
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    width: 40%;
    text-align: center;
  }

 
  
  .customers tr:nth-child(even){background-color: #dbdbdb;}
  .customers tr:nth-child(odd){background-color: #b8b8b8;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #51869b;
    color: white;
  }