@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: "Montserrat";
  src: url(montserrat/Montserrat-Bold.otf?orgId=00D20000000MKv1&orgId=00D20000000MKv1&orgId=00D20000000MKv1&orgId=00D7E0000000e5P);
}

@font-face {
  font-family: "muli";
  src: url(muli/Muli-Light.ttf?orgId=00D20000000MKv1&orgId=00D20000000MKv1&orgId=00D20000000MKv1&orgId=00D7E0000000e5P);
}

body {
  position: relative !important;
  height: 100%;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
}

.loaderImg {
  width: 5%;
  position: absolute;
  left: 50%;
  top: 50%;
}

.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.headerContainer {
  position: absolute;
  width: 100%;
  min-width: 98%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 1%;
  height: 72px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.headerBox {
  position: relative;
  margin: auto;
  padding: auto;
  width: 880px;
  min-width: 600px;
}

.headerBox > div {
  display: inline-block;
  float: left;
  width: 33.3333%;
}

.logo {
  margin-left: 30%;
  width: 40%;
}

.backImg {
  position: relative;
  color: rgb(204, 159, 82);
  text-decoration: none;
  margin-top: 5px;
}

.backImg > span {
  position: relative;
  padding: 2%;
}

.home {
  position: relative;
  color: rgb(204, 159, 82);
  text-decoration: none;
}

.viewBtn {
  float: right;
  border: 1px solid rgb(204, 159, 82) !important;
  width: 180px;
  height: 30px;
  border-radius: 0px !important;
  color: rgb(204, 159, 82) !important;
}

.line {
  position: relative;
  width: 100px;
  margin: auto;
  height: 3px;
  margin-top: 2%;
  background: rgb(204, 159, 82);
}

.container {
  position: absolute;
  background-image: url(bg.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 86px;
  background: rgb(243, 243, 243);
}

.prevQuestion {
  text-align: left;
  font-size: 14px;
  color: rgb(127, 127, 127);
  font-family: Montserrat;
  padding-top: 1%;
  margin-left: 2%;
  border: 1px solid transparent;
  float: left;
}

.question {
  text-align: center;
  font-size: 48px;
  font-family: Montserrat;
  margin-top: 1%;
}

.answerBox {
  width: 100%;
  min-width: 98%;
  position: relative;
  margin: auto;
  margin-top: 3%;
  overflow-y: scroll;
  display: inline-block;
  height: 75%;
  margin-left: 2%;
}

.answerTiles {
  font-family: muli;
  font-size: 16px;
  color: rgb(55, 71, 79);
  text-align: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  width: 280px !important;
  height: 70px !important;
}

.button--aylen:before {
  background: rgb(204, 159, 82) !important;
}

.button--aylen:after {
  background: rgb(204, 159, 82) !important;
}

.categoryName {
  text-align: center;
  margin-top: 3%;
  font-size: 25px;
}

.redirectingText {
  text-align: center;
  margin-top: 3%;
}

.btnGrp {
  position: relative;
  margin-top: 5%;
  left: 37%;
  border: 1px solid;
  width: 30%;
}

.searchBox {
  width: 84.5%;
  position: relative;
  left: 4%;
  margin-top: 3%;
  border: none;
}

.searchBox > input {
  width: 100%;
  background: url(search.png);
  background-repeat: no-repeat !important;
  padding: 2%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-position: 10px 10px;
  padding-left: 40px;
  border-color: transparent;
}

.searchBox > input:focus {
  border: 1px solid rgb(243, 243, 243);
}

.searchDiv img {
  position: absolute;
  left: 10%;
  top: 5%;
}

.searchInput {
  margin-top: 1%;
  margin-right: 4%;
  margin-left: 76%;
  background-color: initial;
}

.searchInput > input {
  border-bottom: 1px solid rgb(204, 159, 82);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: initial;
  width: 146px;
  background: url(Search1.png);
  background-repeat: no-repeat !important;
  background-position: 2px 2px;
  padding-left: 40px;
}

input:focus {
  outline: none;
}

input:-ms-clear {
  display: none;
}

.floatDiv {
  position: absolute;
  display: block;
  width: 20%;
  height: 45%;
  float: right;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  z-index: 10;
  left: 65%;
  margin-top: 0.5%;
}

.floatDiv > ul {
  list-style: none;
}

ul {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  width: 220px;
  list-style: none;
  border: 1px solid rgb(236, 239, 241);
  height: 45%;
  overflow-y: scroll;
  background: rgb(255, 255, 255);
  left: 67%;
  z-index: 10;
  position: absolute;
  top: 4%;
  line-height: 20px;
  vertical-align: middle;
}

.classli {
  border-bottom: 1px solid rgb(204, 159, 82);
  font-family: muli;
  font-size: 16px;
  color: rgb(55, 71, 79);
  text-align: center;
  height: 28px;
  padding: 10px 0;
  margin: 0 0 7px -41px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classli:focus {
  outline: none;
}

.animate-enter, .animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all !important;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all !important;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active, .animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active, .animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

.button {
  padding: 0 !important;
  max-width: 265px !important;
  min-width: 180px !important;
}

.text-center {
  text-align: center;
}