<style type="text/css">

	.CMSCustCalInactiveMonth{
		color: #919191 !Important;
	}
	
	.CMSCustCalInactiveDay{
		color: #777 !Important;
		background-color: #b5b5b5 !Important;
	}
	
	.CMSCustChosenDate{
		color: #FFF !Important;
		background-color: #41AACB !Important;
		font-weight: 700;
	}
	
	    	
</style>