body
{
    font-family: sans-serif;
    font-size: 11pt;
}

h2
{
	color: #809FFF;
}
th
{
    background-color: #809FFF;
    color: #FFF;
    font-size:11pt;
    text-align: center;
    padding: 5px;
    border: 1px solid #FFFFFF;
}
td
{
	border: 1px solid #FFFFFF;
}
.kri_header th
{
	background-color: #CEECF5;
    font-size:11pt;
    text-align: center;
    padding: 5px;
    border: 1px solid #FFFFFF;
    color:#000000;
    width: 20px;
}

.kri_content td
{
	padding-bottom: 0px;
	padding-top: 0px;
	width: 20px;
}
.kri_content
{
	border-bottom:2px solid  black;
}
.row_divider
{
	height: 50px;
}
.metric_container
{
	padding-left: 5px;
	margin-left: 5px;
}
.kri_rating
{
	text-align:center;
}
@page
{
    size: A4 landscape !important;
    margin-left:4px;
    margin-right:2px;
    @top-center
    {
        content: element(header);
        font-size: 16pt;
    }
    
    @bottom-center
    {
        content: "Page " counter(page);
        font-size: 11pt;
    }
    
    @bottom-right-corner
    {
        content: element(logo);
    }
}