body {
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    color: #333;
    background-color: #ffffff;
}
p {
    margin: 1em;
}

#flowdiv{
    position:relative;
    top: 50%;
    left: 50%;
    width:88.3em;
    height:36em;
    //margin-top: -18em; /*set to a negative number 1/2 of your height*/
    margin-left: -45em; /*set to a negative number 1/2 of your width*/
    border: 0px solid #ccc;
    background-color: #ffffff;
    color: #ffffff;
}
#formdiv{
    position:relative;
    top: 9px; 
    left: 50%;
    width:88.3em;
    //height:90em;
    //margin-top: -18em; /*set to a negative number 1/2 of your height*/
    margin-left: -45em; /*set to a negative number 1/2 of your width*/
    border: 0px solid #ccc;
    background-color: #ffffff;
}
#j_id0:j_id8:i:f{
    background-color: #ffffff;
}
#mainLogo{
    position:relative;
    top: 50%;
    left: 50%;
    width:86em;
    height:10em;
    //margin-top: -18em; /*set to a negative number 1/2 of your height*/
    margin-left: -45em; /*set to a negative number 1/2 of your width*/
    border: 0px solid #ccc;
    background-color: #ffffff;
}
#navBar{
    position:relative;
    top: 50%;
    left: 50%;
    width:86em;
    height:4.2em;
    //margin-top: -18em; /*set to a negative number 1/2 of your height*/
    margin-left: -45em; /*set to a negative number 1/2 of your width*/
    border: 0px solid #ccc;
    background-color: #ffffff;
}
.floatRight{
    position:relative;
    float:right;
}

.secondaryPalette{
    background-color: #ffffff;
}    

#formTable{
    width: 10em;
}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .overlayDialog .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #FFFFFF;
    border-bottom: 0px solid #EAEAEA;
    border-left: 0px solid #EAEAEA;
    //border-radius: 4px 4px 4px 4px;
    border-right: 0px solid #EAEAEA;
    border-top-width: 0;
}
.bPageBlock .detailList tr td, .bPageBlock .detailList tr th, .hoverDetail .bPageBlock .detailList tr td, .hoverDetail .bPageBlock .detailList tr th {
    border-bottom: 0px solid #E3DEB8;
}
body .bEditBlock .pbBottomButtons, body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
    border-top: 0px solid #DBDBDB;
}
.bEditBlock .pbHeader > table, .apexp .bPageBlock.apexDefaultPageBlock .pbHeader > table, #ep.bLayoutBlock .pbHeader > table {
    border-bottom: 0 solid #DBDBDB;
}